body, html{
  height: 100%;
  width: 100%;
}
body {
  background-color: #EAE8DB;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0%;
}
.ul-header {
    padding: 0;
    display: flex;
    flex-direction: row;
}
.sidenav {
    height: 100%;
    width: 15px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #053C11;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    box-shadow: -1px 0 8px 0 #3a3a3a;
  }
  .sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font: 600 italic 40px 'Poppins';
    color: #EAE8DB;
    display: block;
    transition: 0.3s;
    display: flex;
    gap: 7px;
  }
  .sidenav .content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .sidenav .content img{
    width: 100px;
  }
  .sidenav .content h3{
    margin-top: 15px;
    color: #EAE8DB;
    font-size: 24px;
  }
  .sidenav .botaoSideNav{
    height: 100%;
    width: 15px;
    background-color: #053C11;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .btn-Export {
    cursor: pointer;
    width: 50px;
    height: 14px;
    position: relative;
    top: 20px;
    left: 28px;
    background-color: #EAE8DB;
    border: 2px solid #D9A30B;
    border-radius: 50px;
  }

  .btn-add {
    width: 130px;
    height: 14px;
    position: relative;
    top: 20px;
    left: 5px;
    background-color: #EAE8DB;
    border: 2px solid #D9A30B;
    border-radius: 50px;
  }

  .btn-Export p {
    position: relative;
    right: 25px;
    color: #053C11;
    font-size: 18px;
    font-weight: bold;
    bottom: 1px;
  }

  .btn-add p {
    display: flex;
    text-align: center;
    position: relative;
    color: #053C11;
    font-size: 16px;
    font-weight: bold;
    bottom: 10px;
    right: 10px;
  }

  .btn-Export:hover {
    background-color: #D9A30B;
    border: 2px solid #D9A30B;
  }

  .btn-add:hover {
    background-color: #D9A30B;
    border: 2px solid #D9A30B;
  }

  .btn-Export p:hover {
    color: #053C11;
  }

  .btn-add p:hover {
    color: #053C11;
  }
  
  .sidenav .content .options{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
  }
  
  .sidenav .content .options .dash-export {
    background-color: #205F2D;
    width: 160px;
    height: fit-content;
    
    
  }
  .sidenav .content .options .dash-export .container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .sidenav .content .options .dash-export h4{
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #EAE8DB;
    font-size: 15px;
    height: 30px;
  }
  .sidenav .content .options h4 img{
    margin-right: 5px;
    margin-left: 2px;
  }
  .sidenav .content .options span{
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #EAE8DB;
    font-size: 18px;
    font-weight: bold;
  }
  .sidenav .content .options span img{
    width: 21px;
  }

  .content .section1, .content .section2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
  }

  .content .section2 h1{
    font-size: 20px;
    color: #666666;
    margin-bottom: 10px;
  }

  .content>div>div{
    padding: 10px 20px 10px 20px;
    width: 50%;
    background-color: white;
    border-radius: 38px;
  }
  body>.content>div>div{
    border: 2px #053C11 solid;
  }
  .content .section2 .quadra3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 45px;
  }
  .content .section2 .quadra3 .content{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content .section2 .quadra3 .content .mapa{
    width: 450px;
    height: 250px;
    border: solid #053C11 2px;
    margin-top: 15px;
    border-radius: 15px;
    background-image: url("../assets/img/dashboard/mapaLavoura.png");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .content .section2 .quadra3 .content .mapa h1{
    color: #000;
    width: 12.5%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 9;
  }

  .content .section2 .quadra3 .content .mapa canvas{
    border-radius: 13px;
  }

  .animate {
    animation: animate 0.9s linear infinite;
  }

  @keyframes animate {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .content .section2 .kpi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  .content .section2 .kpi>div{
    display: flex;
    justify-content: space-evenly;
  }

  .content .section2 .kpi>div .elipse{
    height: 100px;
    width: 100px;
  }

  .content .section2 .kpi>div .elipse{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .content .section2 .kpi>div .elipse h2{
    font-size: 40px;
  }

  .content .section2 .kpi>div .elipse h3{
    font-size: 12px;
    font-weight: 600;
    color: #666666;
  }

  .content .section2 .kpi .umidade{
    margin: 0;
    margin-top: -35px;
    width: 150px;
    text-align: center;
  }

  .content .section2 .kpi .umidade canvas{
    height: 150px;
  }

  .content .section2 .kpi .umidade h1{
    margin-top: -50px;
  }

  .content .section2 .kpi .umidade h2{
    font-size: 13px;
    color: #666666;
    width: 100%;
    font-weight: 500;
  }

  .temp-maxima h2{
    color: #ff7200;
    -webkit-text-stroke: 1px #666666;
  }

  .temp-minima h2{
    color: #7afdff;
    -webkit-text-stroke: 1px #666666;
  }

  .temp-interna h2{
    color: #bdc771;
    -webkit-text-stroke: 1px #666666;
  }

  .sidenav .content .options .dash-export .filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidenav .content .options .dash-export .filtro .div-periodo{
    display: flex;
    flex-direction: column;
  }

  .sidenav .content .options .dash-export .filtro .divs-dates {
    display: flex;
    display: none;
    flex-direction: column;
  }

  .sidenav .content .options .dash-export .filtro .divs-dates>div{
    display: flex;
    flex-direction: column;
  }

  .container-cordenadas {
    margin-left: -28px;
  }
 
  .div-exportacao{
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .sidenav .content .options .dash-export .filtro .div-exportar {
    display: flex; 
    flex-direction: column; 
    justify-content: right; 
  }

  .sidenav .content .options .dash-export .filtro div b {
    font: 600 18px 'Poppins';
    color: #053C11;
    font-size: 10px;
  }

  .filtro .container-cordenadas {
    width: 93%;
    display: flex;
    position: relative;
    left: 27px;
  }

#btn {
  font: 600 15px 'Poppins';
  border-radius: 50px;
  padding: 3px 25px;
  margin-top: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  color: #053C11;
  border: 2px solid #D9A30B;
}

#btn:hover {
  background-color: #053C11;
  border: 1px solid white;
  padding: 3px 35px;
  color: white;
}

input,
select {
  font: 600 15px 'Poppins';
  border-radius: 50px;
  padding: 3px 25px;
  border: none;
  outline: none;
  background-color: #053C11;
  color: #EAE8DB;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(899%) hue-rotate(340deg) brightness(109%) contrast(83%);
}

.filtro div select {
  font: 700 italic 15px 'Poppins';
  padding: 3px 15px;
}


.notificacaoTempExt, .notificacaoTempSolo, .notificacaoUmi {
  position: absolute;
  right: 30px;
  top: 20px;
  align-self: start;
  display: flex;
  align-items: center;
  background-color: #053C11;
  border-radius: 15px;
  margin: 20px 55px;
  padding: 20px 65px 20px 20px;
  display: none;
  width: fit-content;
  height: fit-content; /* Definindo uma altura fixa */
  overflow: hidden;
  transition: all 0.6s ease-in-out;
}

.notificacaoTempExt {  
  width: 22%;
}

.notificacaoTempSolo {  
  width: 20%;
  top: 160px;
}

.notificacaoUmi {
  width: 20%;
  top: 305px;
}

.notificacaoTempExt>div:first-child, .notificacaoTempSolo>div:first-child, .notificacaoUmi>div:first-child {
  display: flex;
  align-items: center;
}

.notificacaoTempExt>div:last-child, .notificacaoTempSolo>div:last-child, .notificacaoUmi>div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notificacaoTempExt>div:first-child>div>p:first-child, .notificacaoTempSolo>div:first-child>div>p:first-child .notificacaoUmi>div:first-child>div>p:first-child  {
  margin-bottom: 7px;
}

.notificacaoTempExt>div:first-child>div>p:first-child p,
.notificacaoTempSolo>div:first-child>div>p:first-child p, .notificacaoUmi>div:first-child>div>p:first-child p {
  width: 300px;
}

#p_titulo_msg_temp_ext, #p_titulo_msg_temp_solo, #p_titulo_msg_umi {
  font: 600 14px 'Poppins';
  line-height: 20px;
  color: white;
  width: 300px;
}

.notificacaoTempExt #p_auxiliarTempExt, .notificacaoTempSolo #p_auxiliarTempSolo, .notificacaoUmi #p_auxiliarUmi  {
  font: 300 13px 'Poppins';
  line-height: 17px;
  color: white;
}

#thumbsTempExt, #thumbsTempSolo, #thumbsUmi {
  padding: 12px 19px;
  border-radius: 50px;
  margin-left: -5px;
  position: absolute;
  top: 45px;
  right: 45px;
  cursor: pointer;
}

#thumbsTempSolo {
  top: 188px;
}

#thumbsUmi {
  top: 334px;
}

dialog{
  height: 80%;
  width: 70%;
  margin: auto;
  padding: 0;
  z-index: 2;
  background-color: transparent;
  overflow: hidden;
  border: #D9A30B 2px solid;
}

dialog iframe{
  height: 100%;
  width: 100%;
}

dialog h1{
  position: absolute;
  color: #EAE8DB;
  right: 10px;
  top: 10px;
  cursor: pointer;
}