body {
  background-color: #EAE8DB;
  background-image: url("../assets/img/Section1/imgGraosCafe.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  
}

::-webkit-scrollbar {
  width: 0%;
}
.ul-header {
    padding: 0;
    display: flex;
    flex-direction: row;
}
.sidenav {
    height: 100%;
    width: 15px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #053C11;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    box-shadow: -1px 0 8px 0 #3a3a3a;
  }
  .sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font: 600 italic 40px 'Poppins';
    color: #EAE8DB;
    display: block;
    transition: 0.3s;
    display: flex;
    gap: 7px;
  }
  .sidenav .content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .sidenav .content img{
    width: 100px;
  }
  .sidenav .content h3{
    margin-top: 15px;
    color: #EAE8DB;
    font-size: 24px;
  }
  .sidenav .botaoSideNav{
    height: 100%;
    width: 15px;
    background-color: #053C11;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .btn-Export {
    width: 50px;
    height: 14px;
    position: relative;
    top: 20px;
    left: 40px;
    background-color: #EAE8DB;
    border: 2px solid #D9A30B;
    border-radius: 50px;
  }

  .btn-add {
    width: 130px;
    height: 14px;
    position: relative;
    top: 20px;
    left: 5px;
    background-color: #EAE8DB;
    border: 2px solid #D9A30B;
    border-radius: 50px;
  }

  .btn-Export p {
    position: relative;
    right: 25px;
    color: #053C11;
    font-size: 18px;
    font-weight: bold;
    bottom: 1px;
  }

  .btn-add p {
    display: flex;
    text-align: center;
    position: relative;
    color: #053C11;
    font-size: 16px;
    font-weight: bold;
    bottom: 10px;
    right: 10px;
  }

  .btn-Export:hover {
    background-color: #D9A30B;
    border: 2px solid #D9A30B;
  }

  .btn-add:hover {
    background-color: #D9A30B;
    border: 2px solid #D9A30B;
  }

  .btn-Export p:hover {
    color: #053C11;
  }

  .btn-add p:hover {
    color: #053C11;
  }
  
  .sidenav .content .options{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20px;
  }
  
  .sidenav .content .options .dash-export {
    background-color: #205F2D;
    width: 160px;
    height: fit-content;
    
    
  }
  .sidenav .content .options .dash-export .container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .sidenav .content .options .dash-export h4{
    display: flex;
    align-items: center;
    margin-top: 5px;
    color: #EAE8DB;
    font-size: 15px;
    height: 30px;
  }
  .sidenav .content .options h4 img{
    margin-right: 5px;
    margin-left: 2px;
  }
  .sidenav .content .options span{
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #EAE8DB;
    font-size: 18px;
    font-weight: bold;
  }
  .sidenav .content .options span img{
    width: 21px;
  }
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  body, html{
    height: 100%;
    width: 100%;
  } 
  .content .section1, .content .section2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
  }

  .content .section2 h1{
    font-size: 20px;
    color: #666666;
    margin-bottom: 10px;
  }
  .content>div>div{
    padding: 10px 20px 10px 20px;
    width: 40%;
    background-color: white;
    border-radius: 38px;
  }
  body>.content>div>div{
    border: 2px #053C11 solid;
  }
  .content .section2 .quadra3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 45px;
  }
  .content .section2 .quadra3 .metricas{
    width: 100%;    
    gap: 10px;
    text-align: center;
  }
  .content .section2 .quadra3 .metricas>div{
    display: flex;
  }
  .content .section2 .quadra3 .metricas>div>div{
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }
  .content .section2 .quadra3 .metricas h2{
    font-size: 15px;
    font-weight: bold;
    color: #666666;

  }
  .content .section2 .quadra3 .metricas .humidity .linha{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, #ffff60 0%, #a0ff67 20%, #20db74 40%, #20db74 60%, #109c77 80%, #007a7a 100%);
    display: flex;
    justify-content: space-between;
  }
  .content .section2 .quadra3 .metricas .humidity .linha span{
    margin-top: 28px;
  }
  .content .section2 .quadra3 .metricas div .linha p{
    font-weight: bold;
    font-size: 14px;
    position: relative;
    left: 0;
  }
  .content .section2 .quadra3 .metricas .temp .linha{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, #7afdff 0%, #9cdbc0 20%, #bdc771 41%, #c9b167 70%, #ff7200 100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .section2 .quadra3 .metricas .temp .linha span{
    margin-top: 28px;
  }
  .content .section2 .quadra3 h1:nth-child(3){
    margin-top: 20px;
  }
  .content .section2 .quadra3 #notify{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .content .section2 .quadra3 #notify img{
    width: 45%;
  }
  .animate {
    animation: animate 0.9s linear infinite;
  }
  @keyframes animate {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .content .section2 .kpi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
  }
  .content .section2 .kpi>div{
    display: flex;
    justify-content: space-evenly;
  }
  .content .section2 .kpi>div .elipse{
    height: 100px;
    width: 100px;
  }
  .content .section2 .kpi>div .elipse{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .content .section2 .kpi>div .elipse h2{
    font-size: 40px;
  }
  .content .section2 .kpi>div .elipse h3{
    font-size: 12px;
    font-weight: 600;
    color: #666666;
  }
  .content .section2 .kpi .umidade{
    margin: 0;
    margin-top: -35px;
    width: 150px;
    text-align: center;
  }
  .content .section2 .kpi .umidade canvas{
    height: 150px;
  }
  .content .section2 .kpi .umidade h1{
    margin-top: -50px;
  }
  .content .section2 .kpi .umidade h2{
    font-size: 13px;
    color: #666666;
    width: 100%;
    font-weight: 500;
  }

/* .umidade h3{
    font-size: 15px;
    font-weight: 500;
  }
  .umidade h2{
    color: #8AC6FE;
  } */
  .temp-maxima h2{
    color: #ff7200;
    -webkit-text-stroke: 1px #666666;
  }
  .temp-minima h2{
    color: #7afdff;
    -webkit-text-stroke: 1px #666666;
  }
  .temp-interna h2{
    color: #bdc771;
    -webkit-text-stroke: 1px #666666;
  }

  .sidenav .content .options .dash-export .filtro{
    display: flex;
    flex-direction: column;
    align-items: center;


    /* padding: 20px; */
  }
  .sidenav .content .options .dash-export .filtro .div-periodo{
    display: flex;
    flex-direction: column;
  }
  .sidenav .content .options .dash-export .filtro .divs-dates {
    display: flex;
    display: none;
    flex-direction: column;
  }
  .sidenav .content .options .dash-export .filtro .divs-dates>div{
    display: flex;
    flex-direction: column;
  }
 
  .div-exportacao{
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .sidenav .content .options .dash-export .filtro .div-exportar {
    display: flex; 
    flex-direction: column; 
    justify-content: right; 
  }
  .sidenav .content .options .dash-export .filtro div b {
    font: 600 18px 'Poppins';
    color: #053C11;
    font-size: 10px;
    
  }

  .filtro .container-cordenadas {
    width: 93%;
    display: flex;
    position: relative;
    left: 27px;
  }


#btn {
  font: 600 15px 'Poppins';
  border-radius: 50px;
  padding: 3px 25px;
  margin-top: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  color: #053C11;
  border: 2px solid #D9A30B;
}

#btn:hover {
  background-color: #053C11;
  border: 1px solid white;
  padding: 3px 35px;
  color: white;
}

input,
select {
  font: 600 15px 'Poppins';
  border-radius: 50px;
  padding: 3px 25px;
  border: none;
  outline: none;
  background-color: #053C11;
  color: #EAE8DB;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(899%) hue-rotate(340deg) brightness(109%) contrast(83%);
}

.filtro div select {
  font: 700 italic 15px 'Poppins';
  padding: 3px 15px;
}

.highcharts-figure .chart-container {
  width: 150px;
  height: 150px;
  float: left;
}

.highcharts-figure,
.highcharts-data-table table {
  width: 130px;
  margin: 0 auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

@media (max-width: 130px) {

  .highcharts-figure,
  .highcharts-data-table table {
    width: 100%;
  }

  .highcharts-figure .chart-container {
    width: 300px;
    float: none;
    margin: 0 auto;
  }
}

.highcharts-background {
  fill: transparent;
}

.highcharts-axis-labels.highcharts-yaxis-labels.highcharts-radial-axis-labels text {
  font-size: 0;
}