@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
}

body {
  background-color: #EAE8DB;
}

/* Default styles for headings (h1) */
h1 {
  font: 700 45px 'Poppins';
  line-height: 42px;
}

/* Default styles for headings (h2) */
h2 {
  font: 700 35px 'Poppins';
  line-height: 25px;
}

/* Default styles for headings (h3) */
h3 {
  font: 700 25px 'Poppins';
  line-height: 25px;
}

/* Default styles for paragraphs (p) */
p {
  font: 200 16px 'Poppins';
  line-height: 17px;
}

/* Default styles for buttons (.btn) */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 5px 10px;
  font: 700 15px 'Poppins';
  color: #053C11;
  border: 2px solid #D9A30B;
  border-radius: 20px;
  background-color: #EAE8DB;
  letter-spacing: -0.7px;
  cursor: pointer;
}

/* Style Section 1*/
.section1 {
  display: flex;
  background-color: #053C11;
  padding: 40px 5em;
}

.img-xicara {
  display: flex;
  align-self: self-start;
  margin-right: 18em;
}

.triade-texto {
  position: absolute;
  right: 315px;
  top: 145px;
  padding: 20px;
}

.triade-texto h1 {
  color: #EAE8DB;
}

.triade-texto p {
  padding: 18px 0;
  color: #EAE8DB;
}

.btn-sec1 {
  width: 190px;
}

.img-grãos {
  position: relative;
  height: 550px;
  top: 50px;
}

/* Style Section 2*/

.vetor-onda-sec2 {
  width: 100%;
  position: absolute;
  top: 390px;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

.div-topico {
  text-align: center;
  width: 219px;
}

.div-topico div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.div-topico h3 {
  color: #053C11;
}

.div-topico p, .sobre-nós p {
  font: 300 15px 'Poppins';
  line-height: 17px;
  color: #053C11 ;
}

.sobre-nós {
  display: flex;
  position: absolute;
  top: 830px;
  padding: 1em 190px;
  background-color: #EAE8DB;
}

.sobre-nós div {
  margin-right: 60px;
  text-align: justify;
}

.sobre-nós h2 {
  color: #053C11;
  margin-bottom: 20px;
}

/* Style Section3 */

.section3{
  position: relative;
  top: 30em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 10%;
  background-color: #EAE8DB;
}

.section3 h1 {
  text-align: center;
}

.triade-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.triade-btn .btn {
  margin: 0 20px; width: 20%;
  transition: width 1s ease 0.4s;
}

.triade-btn .btn:hover {
  width: 23%;
  color: #EAE8DB;
  transition-delay: 0s;
}

#container1, #container2, #container3 {
  display:flex;
  justify-content: center;
  margin: 2em 0 4em 0;
  width: 100%;
}

#container1 ul, #container2 ul, #container3 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
}

.section3 div ul li {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 70%;
  gap: 10px;
  padding: 20px 0;
  list-style: none;
  font: 600 16px 'Poppins';
  line-height: 17px;
  color: #053C11;
}

/* Section 4 */

.vetor-onda-sec4 {
  width: 100%;
    position: relative;
    top: 315px;
}

/* Footer */

/* Default styles for footer text */

footer h4 {
  font-size: 25px;
}

footer p {
  font-size: 15px;
}

footer ul {
  list-style: none;
}

/* Custom styles for footer */

footer {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  background-color: #925035;
  padding: 5% 0;
  color: #EAE8DB;
  gap: 50px;
}

.footer-esquerda div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 13px;
}

.footer-esquerda p {
  width: 300px;
  text-align: justify;
}

.footer-direita {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.links-institucional, .links-fale-conosco {
  display: flex;
  flex-direction: column;
}

.links-institucional ul li {
  font: 200 15px 'Poppins';
  padding: 15px 0;
}

.links-institucional ul li a {
  text-decoration: none;
  color: #EAE8DB;
}

.links-institucional ul li a:hover {
  color: #D9A30B;
  transition: 0.3s;
}

.links-fale-conosco {
  gap: 40px;
}

.links-fale-conosco p {
  padding: 15px 0;
}

.links-fale-conosco ul {
  display: flex;
  justify-content: space-around;
  height: 60px;
}
