@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
}

body {
  background-color: #EAE8DB;
}

/* Default styles for headings (h1) */
h1 {
  font: 700 45px 'Poppins';
  line-height: 42px;
}

/* Default styles for headings (h2) */
h2 {
  font: 700 35px 'Poppins';
  line-height: 25px;
}

/* Default styles for headings (h3) */
h3 {
  font: 700 25px 'Poppins';
  line-height: 25px;
}

/* Default styles for paragraphs (p) */
p {
  font: 200 16px 'Poppins';
  line-height: 17px;
}

/* Default styles for buttons (.btn) */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 5px 10px;
  font: 700 15px 'Poppins';
  color: #053C11;
  border: 2px solid #D9A30B;
  border-radius: 20px;
  background-color: #EAE8DB;
  letter-spacing: -0.7px;
  cursor: pointer;
}

/* Animation SideNav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #EAE8DB;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: -1px 0 8px 0 #3a3a3a;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font: 600 italic 18px 'Poppins';
  color: #053C11;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #D9A30B;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a.links-sidenav{
  align-items: center;
  display: flex;
   justify-content: left;
}

.links-sidenav {
  gap: 10px;
}

.menu-toggle {
  font: 800 30px 'Poppins';
  cursor: pointer;
  color: #D9A30B;
}

.menu-toggle:hover {
  color: #EAE8DB;
  transition: 0.3s;
}

/* Style Header */
header {
  width: 100%;
  background-color: #053C11;
  box-shadow: 0 4px 8px -5px rgb(20, 20, 20);
  position: relative;
  z-index: 1;
}

.ul-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 15px 0;
}

.ul-header li {
  cursor: pointer;
}

.btn:hover {
  background-color: #D9A30B;
  color: #053C11;
  border: none;
  transition: 0.3s;
}

.btn-header {
  width: 110px;
}

/* Style Section 1*/
.section1 {
  display: flex;
  background-color: #053C11;
  padding: 40px 5em;
}

.img-xicara {
  display: flex;
  align-self: self-start;
  margin-right: 18em;
}

.triade-texto {
  position: absolute;
  right: 315px;
  top: 145px;
  padding: 20px;
}

.triade-texto h1 {
  color: #EAE8DB;
}

.triade-texto p {
  padding: 18px 0;
  color: #EAE8DB;
}

.btn-sec1 {
  width: 190px;
}

.img-grãos {
  position: relative;
  height: 550px;
  top: 50px;
}

/* Style Section 2*/

.vetor-onda {
  width: 1349px;
  position: absolute;
  top: 390px;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topicos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

.div-topico {
  text-align: center;
  width: 219px;
}

.div-topico div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.div-topico h3 {
  color: #053C11;
}

.div-topico p, .sobre-nós p {
  font: 300 15px 'Poppins';
  line-height: 17px;
}

.sobre-nós {
  display: flex;
  position: absolute;
  top: 830px;
  padding: 0 190px;
  background-color: #EAE8DB;
}

.sobre-nós div {
  margin-right: 60px;
  text-align: justify;
}

.sobre-nós h2 {
  color: #053C11;
  margin-bottom: 20px;
}

/* Style Section3 */

.section3{
  position: relative;
  top: 30em;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em 10%;
  background-color: #EAE8DB;
}

.section3 h1 {
  text-align: center;
}

.triade-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 40px 0;
}

.triade-btn .btn {
  margin: 0 20px; width: 20%;
  transition: width 1s ease 0.4s;
}

.triade-btn .btn:hover {
  width: 23%;
  color: #EAE8DB;
  transition-delay: 0s;
}

#container1, #container2, #container3 {
  display:flex;
  justify-content: center;
  margin: 2em 0 4em 0;
  width: 100%;
}

#container1 ul, #container2 ul, #container3 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
}

.section3 div ul li {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 70%;
  gap: 10px;
  padding: 20px 0;
  list-style: none;
  font: 600 16px 'Poppins';
  line-height: 17px;
  color: #053C11;
}