body {
  background-image: url(../assets/img/BackgroundCadEm/cadEmpresa.svg);
  background-size: cover;
}

.content {
  margin-top: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.form-box {
  width: 519px;
  height: 500px;
  border-radius: 14px;
  background-color: rgba(234, 232, 219, 0.30);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-box form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

.form-box>h1 {
  font-size: 27px;
  color: #053C11;
}

.form-box a {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.btn-form {
  border-radius: 44px;
  background-color: #EAE8DB;
  color: #925035;
  border: 3px solid #053C11;
  font: bold 17px 'Poppins';
  margin-top: 20px;
  transition: width 1s ease 0.4s;
  cursor: pointer;
}

.form-box form button {
  width: 300px;
  height: 35px;
}

.form-box form button:hover {
  width: 200px;
  color: #053C11;
  transition-delay: 0s;
}

.form-box>button {
  width: 150px;
  height: 35px;
}

.form-box>button:hover {
  width: 200px;
  color: #053C11;
  transition-delay: 0s;
}

.form-box .label {
  font-size: 22px;
  color: #925035;
  font-weight: bold;
}

.input-group {
  display: flex;
  justify-content: center;
}

.input-form {
  width: 334px;
  height: 35px;
  font: 400 17px 'Poppins';
  text-align: center;
  background-color: transparent;
  border: 0;
  border-bottom: #053C11 solid 1px;
  outline: none;
  color: #925035;
  cursor: pointer;
  transition: top 1s ease-in-out;
}

.input-form::placeholder {
  color: rgba(146, 80, 53, 1);
}

.content .lineVector {
  margin-bottom: 0px;
}

.label {
  position: absolute;
  pointer-events: none;
  transform: translateY(0.2rem);
  transition: 350ms;
}

.input-form:focus~.label,
input-form:valid~.label,
.mostrar-email {
  transform: translateY(-80%) scale(1);
  padding: 0 .4em;
}

.subir-label {
  transform: translateY(-80%) scale(1);
  padding: 0 .4em;
}

.subtext {
  width: 80%;
  padding: 0 0 25px 10%;
}

.endtext {
  width: 80%;
  margin-top: 0px;
  padding-bottom: 30px;
}

.span-required {
  font: 400 12px 'Poppins';
  color: red;
  margin-top: 6px;
  display: none;
}