/* Estilização Section 1 */

.bck-section1 {
  width: 100%;
  filter: brightness(30%);
  position: relative;
  top: -59px;
}

.section1 {
  z-index: -1;
  position: sticky;
}

.section1 h6 {
  position: absolute;
  top: 205px;
  left: 681px;
  width: 48%;
  color: #ffffff;
  font: 300 italic 16px 'Poppins';
  text-align: left;
}

.section1 h1 {
  position: absolute;
  top: 231px;
  left: 678px;
  width: 40%;
  color: #ffffff;
  font-size: 35px;
  text-align: left;
  line-height: 35px;
}

.onda {
  position: absolute;
  top: 265px;
  right: 0px;
  width: 100%;
}

/* Estilização Section 2 */

.section2 {
  position: relative;
  bottom: 260px;
  padding: 0px 190px 70px 190px;
  text-align: center;
  background-color: #EAE8DB;
  margin-top: 63px;
}

.section2 h3 {
  font: 700 italic 22px 'Poppins';
  color: #925035;
  line-height: 25px;
  margin-bottom: 40px;
}

.topicos {
  display: flex;
  gap: 30px;
}

.div-topico {
  width: 320px;
  height: 400px;
  border: 1px solid #D9A30B;
  border-radius: 20px;
}

.div-topico img {
  width: 200px;
}

.text-topico {
  background-color: #D9A30B;
  color: #053C11;
  padding: 20px;
}

.text-topico h6 {
  font: 700 20px 'Poppins';
  text-align: left;
  margin-bottom: 15px;
}

.text-topico p {
  font: 400 15px 'Poppins';
  text-align: justify;
  line-height: 19px;
}

/* Estilização Section 3 */

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  gap: 30px;
  color: white;
  position: relative;
  bottom: 260px;
}

.section3 img {
  background-size: cover;
  background-position: center;
  background-position-y: center;
  width: 100%;
  filter: brightness(30%);
}

.section3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 25px;
  position: absolute;
}

.section3 div p {
  font: 300 15px 'Poppins';
}

/* Estilização Section 4 */

.section4 {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 140px;
}

.visao-valores {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 100px;
  text-align: justify;
}

.bck-esquerda,
.bck-direita {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #ffffff;
  width: 320px;
  padding: 40px;
}

.bck-esquerda {
  background: linear-gradient(#d9a30bcf, #053c11ad), url(../assets/img/imgSobreNos/divBckEsquerda.jpg);
}

.bck-direita {
  background: linear-gradient(#d9a30bcf, #053c11ad), url(../assets/img/imgSobreNos/divBckDireita.webp);
  background-size: cover;
}

.bck-esquerda h1,
.bck-direita h1 {
  padding: 0 22px 100px 0;
}

.bck-esquerda p,
.bck-direita p {
  font: 300 14px 'Poppins';
}

.bck-direita ul {
  font: 300 14px 'Poppins';
  list-style: none;
}

/* Footer */

/* Atributos padrões para textos no footer */

footer h4 {
  font-size: 25px;
}

footer p {
  font-size: 15px;
}

footer ul {
  list-style: none;
}

/* Atributos customizados para o footer */

footer {
  position: absolute;
  width: 100%;
  height: 215px;
  display: flex;
  justify-content: space-evenly;
  background-color: #925035;
  padding: 38px 0 0 0;
  color: #EAE8DB;
  gap: 40px;
}

.footer-esquerda div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 13px;
}

.footer-esquerda p {
  width: 300px;
  text-align: justify;
}

.footer-direita {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.links-institucional,
.links-fale-conosco {
  display: flex;
  flex-direction: column;
}

.links-institucional ul li,
.links-fale-conosco p {
  font: 200 15px 'Poppins';
  padding: 5px 0;
}

.links-institucional ul li a {
  text-decoration: none;
  color: #EAE8DB;
}

.links-institucional ul li a:hover {
  color: #D9A30B;
  transition: 0.3s;
}

.links-fale-conosco {
  gap: 10px;
}

.links-fale-conosco ul {
  display: flex;
  justify-content: space-around;
  height: 60px;
}