@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
}
/* 
header {
    background-color: #053C11;
    box-shadow: 0 5px 12px 0px green;
    position: relative;
    z-index: 1;
} */

.ul-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 15px 0;
}

.ul-header li {
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 15px 'Poppins';
    height: 32px;
    padding: 5px 10px;
    border: 3px solid #D9A30B;
    border-radius: 20px;
    background-color: #EAE8DB;
    letter-spacing: -0.7px;
    cursor: pointer;
}

.menu-toggle {
    font: 800 30px "Poppins";
    cursor: pointer;
    color: #D9A30B;
}

.menu-toggle:hover {
    color: #EAE8DB;
    transition: 0.3s;
}

.btn:hover {
    background-color: #D9A30B;
    border: none;
    transition: 0.3s;
}

.btn-header {
    width: 110px;
}
/* 
body {
    font-family: "Poppins";
    background-image: url(background.svg);
} */

.content {
    padding-bottom: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tipoCafe {
    width: 519px;
    height: 365px;
    border-radius: 14px;
    background-color: rgba(234, 232, 219, 0.30);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipoCafe h1 {
    margin-top: 44px;
    font-size: 27px;
    color: #053C11;
}

.tipoCafe button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 15px 'Poppins';
    height: 38px;
    padding: 5px 10px;
    border: 3px solid #D9A30B;
    border-radius: 20px;
    background-color: #EAE8DB;
    letter-spacing: -1px;
    cursor: pointer;
    width: 170px;
    color: #053C11;
}

.tipoCafe button:hover {
    background-color: #D9A30B;
    border: none;
    transition: 0.3s;
}

.englobaCafe {
    display: flex;
    margin-top: 0px;
    gap: 50px;
    text-align: center;
}

.englobaArabica {
    display: flex;
    gap: 60px;
}

.arabicaItens {
    margin-top: 30px;
    align-items: center;
}

.arabicaItens h1 {
    font-size: 27px;
    color: #053C11;
}

.arabicaItens b {
    color: #053C11;
}

.classArabica {
    width: 519px;
    height: 450px;
    border-radius: 14px;
    background-color: rgba(234, 232, 219, 0.30);
    display: flex;
    display: none;
    align-items: center;
    text-align: center;
}

.arabicaResposta {
    width: 300px;
    padding: 16px;
    height: 250px;
    border-radius: 14px;
    background-color: rgba(234, 232, 219, 0.30);
    display: flex;
    display: none;
    align-items: center;
    text-align: center;
}

.arabicaResposta b {
    color: #925035;
}

.arabicaResposta p {
    color: #053C11;
}

.englobaRobusta {
    display: flex;
    gap: 60px;
}

.classRobusta {
    width: 519px;
    height: 450px;
    border-radius: 14px;
    background-color: rgba(234, 232, 219, 0.30);
    display: flex;
    display: none;
    align-items: center;
    text-align: center;
}

.robustaItens {
    margin-top: 30px;
    align-items: center;
}

.robustaItens h1 {
    font-size: 27px;
    color: #053C11;
}

.robustaItens b {
    color: #053C11;
}

.respostaRobusta {
    width: 300px;
    padding: 16px;
    height: 250px;
    border-radius: 14px;
    background-color: rgba(234, 232, 219, 0.30);
    display: flex;
    display: none;
    align-items: center;
    text-align: center;
}

.respostaRobusta b {
    color: #925035;
}

.respostaRobusta p {
    color: #053C11;
}

input {
    width: 334px;
    height: 35px;
    font: 400 17px 'Poppins';
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: #053C11 solid 1px;
    outline: none;
    color: #925035;
    transition: top 1s ease-in-out;
    font-size: larger;
}

input::placeholder {
    color: rgba(146, 80, 53, 1);
}

select {
    width: 65px;
    padding: 4px;
    font: 400 17px 'Poppins';
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: #053C11 solid 1px;
    outline: none;
    color: #925035;
    font-size: larger;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 17px 'Poppins';
    color: #053C11;
    height: 38px;
    padding: 5px 10px;
    border: 3px solid #D9A30B;
    border-radius: 20px;
    background-color: #EAE8DB;
    letter-spacing: -1px;
    cursor: pointer;
    width: 220px;
    margin-left: 28%;
}

.botao:hover {
    background-color: #D9A30B;
    border: none;
    transition: 0.3s;
}

.input-nome-riscos {
    margin-top: 7em;
}

  .input-form-riscos {
    width: 334px;
    height: 25px;
    position: relative;
    left: 10px;
    padding: 0 5px 0 0;
    font: 400 16px 'Poppins';
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: #053C11 solid 1px;
    outline: none;
    color: #925035;
    cursor: pointer;
    transition: top 1s ease-in-out;
  }
  
  .form-box .input-form-riscos::placeholder{
    color: rgba(146, 80, 53, 1);
  }

  .label-riscos {
    position: absolute;
    top: 208px;
    margin-left: 25px;
    pointer-events: none;
    transform: translateY(1.3rem);
    transition: 350ms;
    font: 700 27px 'Poppins';
    color: #053C11;
  }
  
  .input-form-riscos:focus~.label-riscos,
  input-form-riscos:valid~.label-riscos,
  .mostrar-email {
    transform: translateY(-50%) scale(1);
    padding: 0;
  }
  
  .subir-label {
    transform: translateY(-50%) scale(1);
    padding: 0;
  }